/* Layout */

body {
    margin: 0.0pt;
}

@page {
    margin: 0.0pt;
    size: 21.0cm 29.7cm;
}

/* TONIC default styles */

* {
    font-family: SANS;
    margin: 0pt;
    padding: 0pt;
    column-gap: 0pt;
    overflow-wrap: break-word;
}

table {
    width: 100%;
    margin: 10pt 0pt 10pt 0pt;
    border-collapse: collapse;
}

table td {
    vertical-align: top;
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

ul, ol {
    margin-left: 2em;
}

/* Styles from Default.styleCollection */

.Letter {
}

.Infosheet {
}

.AGB {
}

.FW_Standard {
    font-size: 11.0pt;
    font-family: STANDARD;
    line-height: 12.5pt;
}

.FW_Sender {
    font-size: 6.0pt;
    font-family: SANS;
    line-height: 6.5pt;
}

.FW_Recipient {
    line-height: 12.5pt;
}

.FW_InfoArea {
    font-size: 9.0pt;
    font-family: SANS;
    line-height: 12.5pt;
}

.FW_InfoAreaBold {
    font-size: 12.0pt;
    font-family: SANS;
    font-weight: bold;
    line-height: 12.5pt;
}

.FW_Subject {
    font-size: 12.0pt;
    font-family: SANS;
    font-weight: bold;
    line-height: 12.5pt;
}

.FW_Subject2 {
    line-height: 12.5pt;
}

.FW_Salutation {
    line-height: 12.5pt;
    padding: 0.0pt 0.0pt 11.0pt 0.0pt;
}

.Standard {
    line-height: 12.5pt;
}

.Small {
    font-size: 8.0pt;
    font-family: SANS;
}

.Indented {
    font-size: 8.0pt;
    font-family: SANS;
}

.Table_rightAligned {
    font-size: 10.0pt;
    font-family: SANS;
    text-align: right;
}

.Table_leftAligned {
    font-size: 12.0pt;
    font-family: SANS;
}

.Table_rightAligned_small {
    font-size: 8.0pt;
    font-family: SANS;
    text-align: right;
}

.Table_leftAligned_small {
    font-size: 12.0pt;
    font-family: SANS;
}

.VB {
    font-size: 8.0pt;
    font-family: SANS;
    padding: 0.0pt 0.0pt 11.34pt 0.0pt;
}

.Formfield {
}

.Formfield_Label {
    font-size: 8.0pt;
    font-family: SANS;
}

.Formfield_Label_Space {
    padding: 8.5pt 0.0pt 0.0pt 0.0pt;
}

.Small Red {
    font-size: 12.0pt;
    font-family: SANS;
    color: rgba(228, 0, 25, 0.9254902);
}

.Header1 {
    font-size: 24.0pt;
    font-family: SANS;
    color: rgba(227, 0, 24, 1.0);
    font-weight: bold;
    padding: 14.17pt 0.0pt 14.17pt 0.0pt;
}

.Header2 {
    font-size: 16.0pt;
    font-family: SANS;
    color: rgba(227, 0, 24, 1.0);
    font-style: italic;
    padding: 8.5pt 0.0pt 8.5pt 0.0pt;
}

.Header3 {
    font-size: 12.0pt;
    font-family: SANS;
    color: rgba(227, 0, 24, 1.0);
    font-style: italic;
    padding: 8.5pt 0.0pt 8.5pt 0.0pt;
}

.TextSpaceAfter {
    padding: 0.0pt 0.0pt 4.25pt 0.0pt;
}

.TextSpaceBefore {
    padding: 4.25pt 0.0pt 0.0pt 0.0pt;
}

.Indentation {
    padding: 4.25pt 0.0pt 0.0pt 0.0pt;
}

.Note {
    font-size: 12.0pt;
    font-family: SANS;
    font-style: italic;
    padding: 4.25pt 0.0pt 0.0pt 0.0pt;
}

.AVB {
}

.RightAligned {
}

.RightAligned td {
    text-align: right;
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.Policy {
    padding: 0.0pt 0.0pt 8.5pt 0.0pt;
}

.Policy td {
    font-size: 11.0pt;
    font-family: SANS;
    font-weight: bold;
    padding: 0.0pt 0.0pt 8.5pt 0.0pt;
    border: 0.5pt none rgba(0, 0, 0, 1.0);
}

.Border {
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.Border td {
    font-size: 12.0pt;
    font-family: SANS;
    font-weight: bold;
    padding: 1.42pt 8.5pt 1.42pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.Form {
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.Form td {
    font-size: 12.0pt;
    font-family: SANS;
    font-weight: bold;
    padding: 1.42pt 8.5pt 1.42pt 0.0pt;
    border: 0.5pt none rgba(0, 0, 0, 1.0);
}

.Simple {
    padding: 0.0pt 0.0pt 8.5pt 0.0pt;
}

.Simple td {
    font-size: 8.0pt;
    font-family: SANS;
    border: 0.5pt none rgba(0, 0, 0, 1.0);
    font-weight: bold;
}

.Stripes {
    background-color: rgba(237, 237, 237, 1.0);
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.Stripes td {
    font-size: 12.0pt;
    font-family: SANS;
    color: rgba(255, 255, 255, 1.0);
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.StripesColored {
    background-color: rgba(241, 225, 227, 1.0);
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.StripesColored td {
    font-size: 12.0pt;
    font-family: SANS;
    color: rgba(255, 255, 255, 1.0);
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.HeaderlineColored {
    background-color: rgba(227, 0, 24, 1.0);
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.HeaderlineColored td {
    font-size: 12.0pt;
    font-family: SANS;
    color: rgba(255, 255, 255, 1.0);
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.GroupMembers {
    padding: 14.17pt 0.0pt 8.5pt 0.0pt;
}

.GroupMembers td {
    text-align: right;
    padding: 2.83pt 8.5pt 2.83pt 8.5pt;
    border: 0.5pt solid rgba(0, 0, 0, 1.0);
}

.Space_Center {
    padding: 0.0pt 0.0pt 8.5pt 0.0pt;
}

.Space_Center td {
    font-size: 12.0pt;
    font-family: SANS;
    font-weight: bold;
    padding: 0.0pt 5.67pt 0.0pt 5.67pt;
    border: 0.5pt none rgba(0, 0, 0, 1.0);
}

/* Styles from templates */

/* hide regions from html */


#companyarea {
	display: none;
	aria-hidden: true;
}

#footer {
	display: none;
	aria-hidden: true;
}

#header {
	display: none;
	aria-hidden: true;
}

#footer {
	display: none;
	aria-hidden: true;
}

#sender {
	display: none;
	aria-hidden: true;
}

#recipient {
	display: none;
	aria-hidden: true;
}

#infoarea {
	display: none;
	aria-hidden: true;
}